<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Delicious Treats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0F643EB1F224E430023A9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F644021F224E430023A9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F6440D1F224E430023A9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
